header {
    width: 100%;
    background-color: lightblue;
  }
  li {
    list-style-type: none;
    font-size: 40px;
    display: inline;
  }
  #github {
    background-color: lightyellow;
    display: inline;
  }
  
  #portfolio {
    background-color: lightyellow;
    display: inline;
  }
  
  #contact {
    background-color: lightyellow;
  }
.middle {
    display: block;
    padding: 20px;
    background-color: yellowgreen;
    border: 20px solid green;
    margin: 20px
}
